.Form_container{
     margin: 10px;
}
.Form_container_body{
    background: darkgray;
    margin: 10px;
    padding: 10px;
}

.Contact_body_title{
    font-size: 25px ;
    color:darkred;
    justify-content: center;
    margin: 50px;
    
}

.Contact_body{
border: darkred;
border-width: 2px;
background: white;
margin: 1px;
padding: 5px;
justify-content: space-around;
/* display: flex;
flex-wrap: wrap; */
align-items: inherit;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}


.Contact_name{
    display: flex;
       justify-content: center;
    margin: 10px;
    padding: 2px;

}
.Contact_name_button{
    margin: 10px;
    padding:10px;
}
.contact_name_title{
    margin-top: 15px;
    margin-left: 10px;
    padding-right: 5px;
}

.contact_input{
    display: flex;
    flex:1;
      
}